## Petunjuk

Tugas dibagi menjadi dua bagian, yaitu tugas python dan tugas teori pengantar data mining.

Tugas dikumpulkan di ELOK berupa file rar/zip yang berisi:
1. File pynb untuk tugas python 
2. File pdf untuk jawaban dengan tulisan tangan untuk soal teori.

Format nama file : NAMA_NIU.
(NIU : Nomor Induk Universitas yang terdiri dari 6 digit)

Selamat mengerjakan.

# Tugas Python

### Case 1

Karyawan Perusahaan T memiliki gaji sebagai berikut

|Nama Karyawan | Gaji|
|-|-|
|Wawan | 4.500.000|
|Dilla | 4.000.000|
|Leo | 4.000.000|
|Ayu| 3.500.000|
|Lutfi | 3.200.000|

Buatlah sebuah dictionary untuk menyimpan nama dan gaji karyawan Perusahaan T.


```
Keterangan:
 - bentuk dictionary = {nama_karyawan:gaji}
```

In [ ]:
# buat variabel dahulu untuk menyimpan dictionary-nya
...

# kemudian print gaji masing-masing karyawan
...

Gaji Wawan sebesar Rp 45000000
Gaji Dilla sebesar Rp 4000000
Gaji Leo sebesar Rp 4000000
Gaji Ayu sebesar Rp 3500000
Gaji Lutfi sebesar Rp 3200000

### Case 2

Misalkan X adalah Nomor Induk Universitas anda yang terdiri dari 6 digit.

Pada Supermarket A customer akan mendapatkan promo menarik jika:
- Jika customer berbelanja di atas X rupiah akan mendapatkan diskon 5%
- Jika customer berbelanja di atas X rupiah dan barang yang terakhir dibeli adalah "Sate Cap Windbreaker" akan mendapatkan diskon 15%
- Jika customer berbelanja tidak di atas X rupiah tidak mendapatkan diskon

Buatlah nested branch kondisi di atas dengan output berupa:

```python
Masukkan total belanja: ... (input number)
Masukkan barang belanjaan yang anda terakhir beli: ... (input text)
Total belanjaannya adalah ...
```

In [ ]:
# Tuliskan jawaban anda di bawah ini
...

### Case 3

Robert dan Jane pasangan yang baru menikah, namun karena satu dan lain hal biaya pernikahan melebihi budget yang di rencanakan. Karena itu, mereka harus berhemat untuk membayar selisih. 

Agar hemat, setiap berangkat kerja Robert membawa bekal yang di buat oleh Jane dengan menu yang berbeda setiap 3 hari. Menu yang di bawa yaitu:

| Hari           | Bekal  |
|----------------|--------|
| Pertama        | Nasi + Telur  |
| Kedua          | Nasi + Ikan |
| Ketiga | Nasi + Tahu & Tempe  |

Selama satu bulan tentukan jadwal bekal yang dibawa oleh Robert.


```
Keterangan:
- Asumsikan hari pertama = hari Senin = Tanggal 1
- hari kerja dimulai dari Senin - Sabtu

Petunjuk:
- Gunakan fungsi for loop dan fungsi modulo
```

In [ ]:
# buat for loop yang bisa menentukan jadwal bekal yang dibawa

# gunakan range untuk menentukan tanggal
# sesuaikan dengan kondisi kerja seperti hari kerja dimulai dari senin - sabtu

Tanggal 1 Bekal Nasi + Telur
Tanggal 2 Bekal Nasi + Ikan
Tanggal 3 Bekal Nasi + Tahu dan Tempe
Tanggal 4 Bekal Nasi + Ikan
Tanggal 5 Bekal Nasi + Telur
Tanggal 6 Bekal Nasi + Tahu dan Tempe
7 libur
Tanggal 8 Bekal Nasi + Ikan
Tanggal 9 Bekal Nasi + Tahu dan Tempe
Tanggal 10 Bekal Nasi + Ikan
Tanggal 11 Bekal Nasi + Telur
Tanggal 12 Bekal Nasi + Tahu dan Tempe
Tanggal 13 Bekal Nasi + Telur
14 libur
Tanggal 15 Bekal Nasi + Tahu dan Tempe
Tanggal 16 Bekal Nasi + Ikan
Tanggal 17 Bekal Nasi + Telur
Tanggal 18 Bekal Nasi + Tahu dan Tempe
Tanggal 19 Bekal Nasi + Telur
Tanggal 20 Bekal Nasi + Ikan
21 libur
Tanggal 22 Bekal Nasi + Ikan
Tanggal 23 Bekal Nasi + Telur
Tanggal 24 Bekal Nasi + Tahu dan Tempe
Tanggal 25 Bekal Nasi + Telur
Tanggal 26 Bekal Nasi + Ikan
Tanggal 27 Bekal Nasi + Tahu dan Tempe
28 libur
Tanggal 29 Bekal Nasi + Telur
Tanggal 30 Bekal Nasi + Tahu dan Tempe

# Tugas Pengantar Data Mining

### Case 1

Dalam data di dunia nyata, tupel dengan *missing values* untuk beberapa atribut merupakan suatu kejadian umum. Jelaskan berbagai metode untuk menangani masalah ini.

### Case 2

Given the following data (in increasing order) for the attribute age: 
```
14, 15, 16, 17, 19, 20, 21, 21, 22, 22, 25, 25, 26, 27, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70.
```

- Use smoothing by bin mean to smooth these data, using a bin depth of 3. Illustrate your steps. Comment on the effect of this technique for the given data.
- How might you determine outliers in the data?
- What other methods are there for data smoothing?